# Virtual environment
venv/

# Jupyter notebook checkpoints
.ipynb_checkpoints/

# macOS Finder metadata
.DS_Store

# Python bytecode / cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and temp
*.log
*.tmp

# Environment files / secrets (if any)
.env
*.secret
